# Active le module de réécriture d'URL de Apache
RewriteEngine on

# Toutes les requêtes qui ne sont pas des fichiers ou dossiers réels
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sont redirigées vers index.php avec le paramètre url
RewriteRule ^(.*)$ index.php?url=$1 [NC,L,QSA]