
        /* Couleurs définies précédemment */
        body {
            background-color: #333333;
            color: #f8f8f8;
            font-family: 'Merriweather', serif;
        }

        h1,
        h2,
        h3 {
            color: #d4af37;
            font-family: 'Cinzel', serif;
        }

      

        .product-card {
            background-color: #4a4a4a;
            border: 1px solid #5d4037;
            color: #f8f8f8;
            padding: 20px;
            margin: 10px;
            font-family: 'Playfair Display', serif;
        }

        .product-card h4,
        h6 {
            color: #d4af37;
            font-family: 'Cinzel', serif;
        }

        .product-card .price {
            color: #d3b8ae;
            font-family: 'Raleway', sans-serif;
        }

        .button {
            background-color: #800020;
            color: #f8f8f8;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-family: 'Raleway', sans-serif;
        }

        .button:hover {
            background-color: #5d4037;
        }

        .banner {
            background: rgb(36, 36, 36);
            /* Charbon */
            background: linear-gradient(90deg, rgba(36, 36, 36, 1) 0%, rgba(60, 60, 60, 1) 35%, rgba(112, 128, 144, 1) 100%);
            /* Gradient Charbon à Ardoise Grise */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            color: #f8f8f8;
            /* Couleur du texte */
            font-family: 'Merriweather', serif;

        }

        .single-product img {
            width: 100%;
            height: 272px;
        }

        .nav-link {
            color: #d4af37;
            
        }

        .sidebar-categories .head,
        .filter-bar {
            background: #d4af37;
        }

        ul.main-categories li a {
            text-transform: capitalize;
        }

        .current,
        .nice-select .option:hover,
        .nice-select .option.focus,
        .nice-select .option.selected.focus,
        .nice-select .option:hover,
        .nice-select .option.selected.focus {
            color: #333333;

        }

        .gradient-bg,
        .primary-btn,
        .add-bag .add-btn,
        .single-product .product-details .prd-bottom .social-info span::after,
        .grid-btn:hover,
        .list-btn:hover,
        .grid-btn.active,
        .list-btn.active,
        .pagination a.active,
        .pagination a:hover,
        .s_Product_carousel .owl-dots div.active,
        .s_product_text .card_area .icon_btn::after,
        .product_description_area .nav.nav-tabs li a.active,
        .blog-pagination .page-item.active .page-link,
        .single-footer-widget .click-btn {
            background: #d4af37;
        }

        .single-product .product-details .prd-bottom .social-info .hover-text {
            color: white;
        }

        .nice-select .list:hover .option:not(:hover) {
            color: black;
        }